IDR_TRANS_DE_DEFAULT RCDATA "languages\\project\\de\\default.mo"
IDR_TRANS_ES_DEFAULT RCDATA "languages\\project\\es\\default.mo"
IDR_TRANS_FR_DEFAULT RCDATA "languages\\project\\fr\\default.mo"
IDR_TRANS_HU_DEFAULT RCDATA "languages\\project\\hu\\default.mo"
IDR_TRANS_IT_DEFAULT RCDATA "languages\\project\\it\\default.mo"
IDR_TRANS_ZH_DEFAULT RCDATA "languages\\project\\zh\\default.mo"
IDR_TRANS_DE_DELPHI10 RCDATA "Languages\\delphi\\de\\delphi10.mo"
IDR_TRANS_ES_DELPHI10 RCDATA "Languages\\delphi\\es\\Delphi10.mo"
IDR_TRANS_FR_DELPHI10 RCDATA "Languages\\delphi\\fr\\Delphi10.mo"
IDR_TRANS_HU_DELPHI10 RCDATA "Languages\\delphi\\hu\\Delphi10.mo"
IDR_TRANS_IT_DELPHI10 RCDATA "Languages\\delphi\\it\\Delphi10.mo"
IDR_TRANS_ZH_DELPHI10 RCDATA "Languages\\delphi\\zh\\Delphi10.mo"
IDR_TRANS_DE_DIALOGS RCDATA "Languages\\dialogs\\de\\dialogs.mo"
IDR_TRANS_ES_DIALOGS RCDATA "Languages\\dialogs\\es\\dialogs.mo"
IDR_TRANS_FR_DIALOGS RCDATA "Languages\\dialogs\\fr\\dialogs.mo"
IDR_TRANS_HU_DIALOGS RCDATA "Languages\\dialogs\\hu\\dialogs.mo"
IDR_TRANS_IT_DIALOGS RCDATA "Languages\\dialogs\\it\\dialogs.mo"
IDR_TRANS_ZH_DIALOGS RCDATA "Languages\\dialogs\\zh\\dialogs.mo"
IDR_TRANS_DE_UNITS RCDATA "Languages\\units\\de\\units.mo"
IDR_TRANS_ES_UNITS RCDATA "Languages\\units\\es\\units.mo"
IDR_TRANS_FR_UNITS RCDATA "Languages\\units\\fr\\units.mo"
IDR_TRANS_HU_UNITS RCDATA "Languages\\units\\hu\\units.mo"
IDR_TRANS_IT_UNITS RCDATA "Languages\\units\\it\\units.mo"
IDR_TRANS_ZH_UNITS RCDATA "Languages\\units\\zh\\units.mo"
IDR_TRANS_DE_LANGUAGES RCDATA "Languages\\project\\de\\languages.mo"
IDR_TRANS_ES_LANGUAGES RCDATA "Languages\\project\\es\\languages.mo"
IDR_TRANS_FR_LANGUAGES RCDATA "Languages\\project\\fr\\languages.mo"
IDR_TRANS_HU_LANGUAGES RCDATA "Languages\\project\\hu\\languages.mo"
IDR_TRANS_IT_LANGUAGES RCDATA "Languages\\project\\it\\languages.mo"
IDR_TRANS_ZH_LANGUAGES RCDATA "Languages\\project\\zh\\languages.mo"
IDR_LANGUAGES RCDATA "languages\\project\\language.cfg"
